@font-face {
    font-family: "Fira+Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Fira+Sans"),
         url("/fonts/FiraSans-Regular.ttf") format("ttf");
}
body {
    background: #f9e933;
    font-size: 100%;
    font-family: "Fira Sans", sans-serif;
}
header, main, footer {
    min-width: 855px;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: larger;
}
h5 {
    font-size: small;
}
h1, h2, h3, h5 {
    font-weight: bolder;
    font-family: "Ubuntu", sans-serif;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
header {
    background: white;
    overflow: auto;
}
header h1 {
    float: left;
    width: 570px;
    font-style: italic;
    font-size: 3em;
    color: #b33;
}
.left {
    float: left;
    width: 570px;
}
header nav, .right, .sitemap {
    float: right;
    width: 285px;
}
main {
    background: white;
    overflow: auto;
}